div {
display: inline-block;
text-overflow: none;
 margin: 20px 1.9% 20px 1.9%;
 position: relative;
}

p {

background-color: gray;
height: 210px;
font-family: cursive;
color: black;
margin: 0;
font-size: 17px;
border: 2px solid black;
padding-top: 10%;
padding-left: 5%;
padding-right: 3%;
}